% my $handler = $_[0]{handler};
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
body {
  font-family: "Lucida Grande", sans-serif;
}
th {
  text-align: right;
}
input {
  font-size: larger;
}
address {
  margin-top: 1em;
}
    </style>
  </head>
  <body>
    <h1>Euler Getter</h1>
    <form action="./start" method="POST">
      Start with board size: <input type="number" name="size" value="4">
      <input type="submit" value="start">
    </form>
    <address>
      Original: <a href="http://www.sci.kagoshima-u.ac.jp/~yasuda/Takehiko_Yasudas_homepage/Games.html">Euler Getter</a>
    </address>
  </body>
</html>
